td{
    border: 1px solid black;
    text-align: center;
    padding: 10px 17px;
}
table{
    width: 90%;
    height: 90%;
    border-collapse: collapse;
}
div{
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.tr1 .td1{
    background-color:yellow;
}
td:first-child{
    background-color: rgb(0 175 80);
}
.tr1:first-child{
    background-color: rgb(249 191 143);
}
.td2:first-child{
    background-color: rgb(0 175 80);
}
tr:last-child{
    background-color: rgb(0 175 80);
}
/*.td9 .td8{
    background-color: grey;
}*/
td:last-child{
    background-color: rgb(249 191 143);
}
.tr1 td:first-child{
    background-color: yellow;
}
.td2 td:nth-child(2){
    background-color: yellow;
}
.td3 td:nth-child(3){
    background-color: yellow;
}
.td4 td:nth-child(4){
    background-color: yellow;
}
.td5 td:nth-child(5){
    background-color: yellow;
}
.td6 td:nth-child(6){
    background-color: yellow;
}
.td7 td:nth-child(7){
    background-color: yellow;
}
.td8 td:nth-child(8){
    background-color: yellow;
}
.td9 td:first-child{
    background-color: gray;
}